.custom__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 0%;
  background-color: var(--c-primary);
  border: 2px solid var(--c-primary);
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  user-select: none;
  z-index: 1;

  &:before,
  &:after {
    content: "";
    position: absolute;
    transition: inherit;
    z-index: -1;
  }

  &:hover {
    color: var(--c-primary);
    transition-delay: 0.5s;
  }

  &:hover:before {
    transition-delay: 0s;
  }

  &:hover:after {
    background-color: white;
    transition-delay: 0.35s;
  }
}

.from-left:before,
.from-left:after {
  top: 0;
  width: 0;
  height: 100%;
}

.from-left:after {
  left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
  width: 100%;
}

.productCards__btn,
.intro__btn {
  width: 100%;
  max-width: 250px;
  height: 70px;
  color: white;
}
