.card__wrapper {
  display: flex;
  flex-direction: column;
  width: 376px;
  height: 626px;
  padding: 32px 32px 48px 32px;
  border: 1px solid var(--c-gray-light);

  .card__wrapper-img {
    display: flex;
    height: 271px;
    margin-bottom: 32px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .card__wrapper-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .wrapper__info-name {
    font-size: 30px;
  }

  .wrapper__info-descr {
    span {
      font-size: 20px;
      color: #999;

      &:not(last-child) {
        margin-bottom: 8px;
      }
    }
  }

  .wrapper__info-price {
    font-size: 50px;
    margin-bottom: 19px;
  }
}
