.header {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;

  .container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__left {
    display: flex;
    align-items: center;
    gap: 112px;
  }

  .header__right-icons {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .nav {
    gap: 64px;
  }

  .nav__items-link {
    font-size: 20px;
    color: var(--c-dark);
  }
}
