.catalog {
  padding-top: 70px;
  padding-bottom: 70px;

  .catalog__title {
    margin-bottom: 16px;
  }

  .tabs {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    max-width: 250px;
  }

  .catalog__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .swiper {
    width: 100%;
    max-width: 1250px;
  }

  .slide__wrapper {
    border: 1px solid var(--c-gray-light);
  }

  .catalog__products {
    display: flex;
    flex-direction: column-reverse;
  }

  .swiper__controller-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    padding-bottom: 12px;

    span {
      display: block;
      font-size: 20px;
      color: var(--c-dark);
      user-select: none;
      -webkit-user-select: none; // Для Safari
      -moz-user-select: none; // Для Firefox
      -ms-user-select: none; // Для старых IE/Edge
    }

    .prev-arrow,
    .next-arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      border: 2px solid var(--c-primary);
      border-radius: 50%;
      cursor: pointer;

      svg {
        transition: all 0.3s ease-in-out;
      }

      &:hover svg {
        transform: scale(1.3);
      }
    }

    .next-arrow {
      transform: rotate(180deg);
    }
  }
}
