.catalog {
  padding-top: 70px;
  padding-bottom: 70px;

  .catalog__title {
    margin-bottom: 16px;
  }

  .tabs {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    max-width: 250px;
  }

  .catalog__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .swiper {
    width: 100%;
    max-width: 1250px;
  }

  .slide__wrapper {
    border: 1px solid var(--c-gray-light);
  }

  .catalog__products {
    display: flex;
    flex-direction: column;
  }

  .empty-message {
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
      font-size: 35px;
      line-height: 130%;
    }

    span {
      font-size: 16px;
      color: var(--c-gray);
      line-height: 130%;
    }
  }
}
