.policy {
  h2 {
    margin-bottom: 30px;
  }

  p {
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 20px;
  }

  ul {
    margin-bottom: 20px;
    li {
      font-size: 20px;
      line-height: 130%;
      margin-bottom: 10px;
    }
  }
}
